@charset "utf-8";

/* ************************************************************************************************************************************************************
						《 메인 스타일 》
************************************************************************************************************************************************************ */

/* -------------------- section title ---------------------------------------- */
section {word-break:keep-all; }
.sec_tit{margin-bottom: 60px;}
.sec_tit .sub_tit{display: inline-block;position: relative;margin-bottom: 25px;font-size: 2rem;line-height: 1.25em;font-weight: 700;color: #319400; padding-top: 3px;}
.sec_tit .sub_tit:before{display: block;content: '';position: absolute;top: 0;left: 0;width: 20px;height: 1px;background-color: #707070;}
.sec_tit .tit{font-size: 4.5rem;line-height: 1.25em;font-weight: 700;}
.sec_tit p {font-size: 2rem; font-weight: 400; line-height: 1.5em; margin-top: 10px;}

@media only screen and (max-width:1280px) {
	.sec_tit {margin-bottom:30px;}
	.sec_tit .tit {font-size:40px;}
	.sec_tit .sub_tit {margin-bottom:15px;}
}
@media only screen and (max-width:767px) {
	.sec_tit {margin-bottom:15px;}
	.sec_tit .tit {font-size:36px;}

	.sec_tit .sub_tit {margin-bottom:5px;}
}

/* -------------------- 슬라이드 유틸 ---------------------------------------- */
.slide_util {display:-webkit-box;display:-ms-flexbox;display:flex;}
.btn_arrow {width:26px; height:26px; cursor:pointer;}
.slide_util .btn_arrow.prev {background:url(../image/arr_left_wh.svg) no-repeat center center / contain;}
.slide_util .btn_arrow.next {background:url(../image/arr_rgt_wh.svg) no-repeat center center / contain; margin-left:24px;}
.slick-dots li {display:none;font-size:2.3rem;color:#707070;}
.slick-dots li .crt {font-weight:700;color:#fff;}
.slick-dots li .total {color: rgba(255,255,255,.7);}
.slick-dots li .total:before{display: inline-block;content: '';width: 1px;height: 16px;margin: 0 20px;background-color: #fff;}
.slick-dots li.slick-active{display:block;}

/* ============================== [ 메인 슬라이드 ] ========================================================================================== */
.slide_wrap {position:relative;}
.sec_01 .slide_wrap .slide_util {position:absolute; left: calc((100% - 1520px)/2); bottom:320px; z-index:1;}
.sec_01 .slide_wrap .slide_util .btn_arrow.next {margin-left: 100px;}
.sec_01 .slide_wrap .slick-dots{position: absolute;left: calc(((100% - 1520px)/2) + 30px);bottom: 318px;}
.main_slide .item {overflow: hidden;position:relative;height: 940px;}
.main_slide .item figure {display:block; position:relative; width:100%; height:100%; overflow:hidden;}
.main_slide .item figure span {-webkit-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2); display:block; width:100%; height:100%; background-repeat: no-repeat; background-position: center center; background-size:cover;}
.main_slide .item.slick-current figure span {-webkit-animation: mainSlideAni 5s forwards;animation: mainSlideAni 5s forwards;}
.main_slide .item h2 {position:absolute; bottom: 140px; left:50%; width: 100%; max-width: 1520px; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); z-index:1; font-size:6rem; line-height: 1.25em; font-weight:400; color:#fff;word-break: keep-all;-webkit-box-sizing: border-box;box-sizing: border-box; padding-right: 80px;}
.main_slide .item h2 strong {font-weight: 700;}
.scroll_down {position: absolute; right: 0; bottom: 40px; padding-bottom: 120px; -webkit-animation: scrollDown 1s ease-in-out infinite alternate; animation: scrollDown 1s ease-in-out infinite alternate;}
.scroll_down::after {display: block; content: ''; width: 60px; height: 60px; background-color:rgba(255,255,255,.34); border-radius: 50%; position: absolute; bottom: 0;left: calc(50% - 30px);}
.scroll_down p{-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg); font-size: 18px; font-weight: 700; color: #fff; padding-right: 55px; background:url(../image/scrollD.svg) no-repeat right center;}
@-webkit-keyframes  mainSlideAni{
	from {-webkit-transform: scale(1.2);transform: scale(1.2);}
	to {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes  mainSlideAni{
	from {-webkit-transform: scale(1.2);transform: scale(1.2);}
	to {-webkit-transform: scale(1);transform: scale(1);}
}
@-webkit-keyframes scrollDown{
	from {padding-bottom: 120px;}
	to {padding-bottom: 100px;}
}
@keyframes scrollDown{
	from {padding-bottom: 120px;}
	to {padding-bottom: 100px;}
}
@media only screen and (max-width: 1600px){
	.main_slide .item h2{bottom: 100px;padding-left: 30px;padding-right: 100px;font-size: 5rem;}
	.sec_01 .slide_wrap .slide_util{left: 30px;bottom: 240px;}
	.sec_01 .slide_wrap .slick-dots{left: 60px;bottom: 238px;}
}
@media only screen and (min-width: 1281px) {
	.main_slide .item.main_01 figure span {background-image: url(../image/main_visual_01.png);}
	.main_slide .item.main_02 figure span {background-image: url(../image/main_visual_02.png);}
	.main_slide .item.main_03 figure span {background-image: url(../image/main_visual_03.png);}
}
@media only screen and (max-width: 1280px){
	.btn_arrow{width: 22px;height: 22px;}
	.main_slide .item{height: 800px;}
	.main_slide .item h2{bottom: 60px;font-size: 4rem; padding-right: 30px;}
	.main_slide .item.main_01 figure span {background-image: url(../image/main_visual_01_m.png);}
	.main_slide .item.main_02 figure span {background-image: url(../image/main_visual_02_m.png);}
	.main_slide .item.main_03 figure span {background-image: url(../image/main_visual_03_m.png);}
	.scroll_down {display: none;}
}
@media only screen and (max-width: 767px){
	.btn_arrow{width: 17px;height: 17px;}
	.slick-dots li{font-size: 18px;}
	.slick-dots li .total:before{height: 12px;margin: 0 10px;}
	.main_slide .item{height: 640px;}
	.main_slide .item h2{font-size: 28px;line-height: 1.4em;}
	.main_slide .item strong{font-size: 30px;}
	.sec_01 .slide_wrap .slide_util .btn_arrow.next{margin-left: 70px;}
	.sec_01 .slide_wrap .slick-dots{left: 50px;bottom: 236px;}
}
@media only screen and (max-width: 380px){
	.main_slide .item h2{font-size: 22px;}
	.main_slide .item strong{font-size: 24px;}
}

/* ============================== [ we are ] ========================================================================================== */
.sec_02 {margin-top: 140px; padding-bottom:145px; overflow:hidden;}
.sec_02 .sec_tit {position: relative;}
.sec_02 .sec_tit .tit {font-size: 6rem;}
.sec_02 .slide_wrap {width:200%;}
.sec_02 .slide_util {position: absolute; right: 30px; top: 70px;}
.sec_02 .slide_util .btn_arrow {width: 53px; height: 53px; background-position:0 0; background-repeat: no-repeat; background-size:100% auto;}
.sec_02 .slide_util .btn_arrow.prev {background-image:url(../image/ic_slide_left.png);}
.sec_02 .slide_util .btn_arrow.next {background-image:url(../image/ic_slide_right.png);}
.we_slide .item {max-width: 1500px; width: 100%; min-width: 250px; min-height: 250px;}
.we_slide .item figure {overflow:hidden; border-radius:22px; position:relative;}
.we_slide .item strong {font-size: 4.2rem; font-weight: 700; color: #fff; position: absolute; right: 130px; bottom: 65px; line-height: 1.25em;}

@media only screen and (max-width:1560px){
	.sec_02 .slide_wrap {width: calc(100% + 30px);}
	.we_slide .item {max-width: 1200px;}
}

@media only screen and (max-width:1280px) {
	.sec_02 {margin-top: 80px; padding-bottom:100px;}
	.sec_02 .sec_tit .tit {font-size: 48px;}
	.sec_02 .slide_util {position:relative; top:0; margin-top:33px; -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end;}
	.sec_02 .slide_util .btn_arrow {width:43px; height:43px;}
	.slide_util .btn_arrow.next {margin-left:20px;}
	.we_slide .item {width: calc(100% - 60px);}
	.we_slide .item strong {font-size:32px; right:30px; bottom:30px;}
}
@media only screen and (max-width:767px) {
	.sec_02 .sec_tit .tit {font-size: 36px;}
	.sec_02 .slide_util .btn_arrow {width:33px; height:33px;}
	.we_slide .item strong {font-size:24px; right:inherit; left:20px; bottom:30px;}


}
@media only screen and (max-width:767px) {
	.we_slide .item figure {display:block; height:100%; }
	.we_slide .item figure img {max-height: 250px; width:auto; height:100%;}
	.we_slide .item strong {bottom:20px;}
}

/* ============================== [ company ] ========================================================================================== */
.sec_03 {padding: 116px 0 130px; background-color: #F9F9F9;}
.sec_03 .sec_tit {margin-bottom:30px;}
.sec_03 .img_list {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.sec_03 .img_list li {width: calc(33.33% - 10px);}
.sec_03 .img_list li figure {border-radius: 22px; overflow: hidden;}
@media only screen and (max-width:1280px) {
	.sec_03 {padding:80px 0;}
	.sec_03 .sec_tit .tit br {display:none;}
}
@media only screen and (max-width:767px){
	.sec_03 .img_list {margin-top:-8px;}
	.sec_03 .img_list li {width:calc(50% - 4px); margin-top:8px;}
}

/* ============================== [ recipe ] ========================================================================================== */
.sec_04 {overflow:hidden;}
.recipe_wrap {padding-left: 32px; display: -webkit-box; display: -ms-flexbox; display: flex;}
.recipe_bg {display: block; width: 632px; height: 650px;}
.recipe_bg span {display: block; width: 100%; height: 100%; background:url(../image/recipe_bg.png) no-repeat 0 0; background-size: cover;}
.recipe_wrap .sec_tit {padding-top: 210px; margin-left:65px; position:relative; z-index:1;}
.recipe_wrap .sec_tit p {margin-top: 24px;}
.recipe_wrap .btn_wrap {margin-top: 130px;}
.recipe_wrap .btn_wrap .btn_more {background-color:#fff; display:inline-block; padding: 11px 26px; -webkit-box-sizing: border-box; box-sizing: border-box; border:1px solid #707070; border-radius: 24px; font-size: 2rem; font-weight: 700; line-height: 1.25em; -webkit-transition: .3s; -o-transition: .3s; transition: .3s;}
.recipe_wrap .btn_wrap .btn_more:hover {background-color: #1c1c1c; border-color: #1c1c1c; color: #fff;}
.recipe_list {width: 200%; position:relative;}
.recipe_list .item {width: auto;}
.recipe_list .item figure {border-radius: 22px; overflow: hidden;}
.recipe_list .item span {padding-left: 24px; margin-top: 26px; font-size: 2rem; display: block;}
.recipe_slide {position:relative;}
.recipe_slide .slide_arr {display:none; width:calc(100% + 60px); position:absolute; left:-30px; top:calc(50% - 14px);}
.recipe_slide .slide_arr .recipe_arrow {position:absolute; top:0; width:15px; height:28px; background-position: 0 0; background-repeat: no-repeat;}
.recipe_slide .slide_arr .recipe_arrow.prev {background-image: url(../image/arr_left_gray.svg); left:7px;}
.recipe_slide .slide_arr .recipe_arrow.next {background-image: url(../image/arr_rgt_gray.svg); right:7px;}

@media only screen and (max-width:1280px) {
	.recipe_bg {width:294px; height:294px; margin-top:60px;}
	.recipe_wrap {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; padding-left:0;}
	.recipe_wrap .sec_tit {padding-top:115px; margin-left:10px; -webkit-box-flex:1; -ms-flex:1; flex:1;}
	.recipe_wrap .sec_tit p {margin-top:16px;}
	.recipe_wrap .btn_wrap {margin-top:20px;}
}
@media only screen and (max-width:830px) {
	.recipe_wrap {-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;flex-direction: column-reverse;}
	.recipe_bg {margin-top:-90px; margin-left:auto;}
	.recipe_wrap .sec_tit {margin-left:0;}
}
@media only screen and (max-width:767px){
	.recipe_list {width: 100%;}
	.recipe_list .item {width: 21%;}
	.recipe_list .item span {padding-left:0; margin-top:10px; font-size:18px;}
	.recipe_slide .slide_arr {display:block;}
}

/* ============================== [ review ] ========================================================================================== */
.sec_05 {margin-top: 180px;}
.sec_05 .sec_tit {text-align: center;}
.sec_05 .sec_tit .sub_tit::before {left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%);}
.sec_05 .slide_wrap {margin-top: 60px;}
.review_slide {padding:20px 0;}
.review_slide .item figure::after {display: block; content: ''; border-radius:100px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; border:1px solid #D6D6D6; position: absolute; left: 0; top: 0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s;}
.review_slide .item.swiper-slide-active figure {border-radius:120px;}
.review_slide .item.swiper-slide-active figure::after {border:5px solid #319400; border-radius: 120px;}

.review_slide .item {position: relative;width:48%;-webkit-transform: scale(.84);-ms-transform: scale(.84);transform: scale(.84);-webkit-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;transition: all .3s ease-in-out;overflow: hidden;border-radius: 100px; -webkit-box-shadow:0px 10px 10px 2px rgba(0, 0, 0, 0.16); box-shadow:0px 10px 10px 2px rgba(0, 0, 0, 0.16);}
.review_slide .item.swiper-slide-active {-webkit-transform: scale(1) !important;-ms-transform: scale(1) !important;transform: scale(1) !important; border-radius:120px;}
.review_slide figure {position: relative;width: 100%;padding-top:58%;}
.review_slide figure .image {position: absolute;top: 0;left: 0;bottom: 0;width: 100%;height: 100%;}

@media only screen and (max-width:1280px) {
	.sec_05 .slide_wrap {margin-top: 40px;}
	.review_slide .item,
	.review_slide .item figure::after {border-radius: 60px;}
	.review_slide .item.swiper-slide-active,
	.review_slide .item.swiper-slide-active figure,
	.review_slide .item.swiper-slide-active figure::after {border-radius:80px;}
}
@media only screen and (max-width:767px) {
	.sec_05 .slide_wrap {margin-top: 20px;}
	.review_slide .item {width:70%;}
	.review_slide .item.swiper-slide-active,
	.review_slide .item.swiper-slide-active figure,
	.review_slide .item.swiper-slide-active figure::after {border-radius:60px;}
}
@media only screen and (max-width:500px) {
	.review_slide .item {width:80%;}
	.review_slide figure {padding-top:70%;}
}

/* ============================== [ img section ] ========================================================================================== */
.sec_06 {margin-top: 130px; padding: 75px 30px 108px; background:url(../image/bg_biz.png) no-repeat center center; background-size:cover;}
.sec_06 figure {width: 130px; height: 207px; margin: 0 auto 25px;}
.sec_06 .sec_tit .tit {color: #fff; text-align: center;}

@media only screen and (max-width:1280px) {
	.sec_06 {margin-top:80px; padding:60px 30px;}
	.sec_06 figure {width:100px; height:159px; margin-bottom:10px;}
}
@media only screen and (max-width:767px) {
	.sec_06 .sec_tit .tit {font-size:30px;}
}

/* ============================== [ business ] ========================================================================================== */
.sec_07 {margin-top: 113px; padding-bottom: 160px;}
.sec_07 .sec_tit {text-align: center;}
.sec_07 .sec_tit .sub_tit:before {left:calc(50% - 10px);}
.sec_07 .biz_list {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap:wrap; flex-wrap:wrap; margin: 50px 20px 0; height:550px;}
.sec_07 .biz_list li {height:calc(100% - 20px); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 115px 0; margin-top:20px; width: calc(25% - 7px); border:1px solid #B2B2B2; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius:22px; -webkit-box-shadow:0px 6px 6px 2px rgba(0, 0, 0, 0.16); box-shadow:0px 6px 6px 2px rgba(0, 0, 0, 0.16); -webkit-transition:-webkit-transform .3s; transition:-webkit-transform .3s; -o-transition:transform .3s; transition:transform .3s; transition:transform .3s, -webkit-transform .3s; cursor:pointer; position: relative;}
.sec_07 .biz_list li::after {display:block; content: ''; width:100%; height:100%; border:6px solid #319400; position:absolute; left:0; top:0; border-radius: 20px; opacity:0; -webkit-transition: .3s; -o-transition: .3s; transition: .3s; -webkit-box-sizing:border-box; box-sizing:border-box;}
.sec_07 .biz_list li:hover {-webkit-transform: translateY(-20px);-ms-transform: translateY(-20px);transform: translateY(-20px);}
.sec_07 .biz_list li:hover::after {opacity:1;}
.sec_07 .biz_list .tit {margin-top: 50px; font-weight: 700; font-size: 2.8rem; line-height: 1.25em;}
.sec_07 .biz_list figure {height:86px;}
.sec_07 .biz_list p {margin-top: 30px; color: #666666; font-weight: 700; line-height: 1.25em; text-align: center;}
@media only screen and (max-width:1280px) {
	.sec_07 {margin-top:80px; padding-bottom:100px;}
	.sec_07 .biz_list {margin:40px 0 0 0; height:auto;}
	.sec_07 .biz_list li {padding:50px 30px; width:calc(50% - 7px); height:285px;}
	.sec_07 .biz_list li:hover {-webkit-transform: translateY(-10px);-ms-transform: translateY(-10px);transform: translateY(-10px);}
	.sec_07 .biz_list .tit {margin-top:20px;}
	.sec_07 .biz_list p {margin-top:10px;}
	.sec_07 .biz_list p br {display:none;}
}
@media only screen and (max-width:767px){
	.sec_07 {margin-top:50px;}
	.sec_07 .biz_list li {width:100%; height:auto; padding:50px 30px 40px;}
	.sec_07 .biz_list figure {width: 26%; max-width: 49px; height:auto;}
	.sec_07 .biz_list li:first-child figure {width:71px; max-width: 71px;}
	.sec_07 .biz_list li::after {border-width: 5px;}
}

/* ============================== [ contact ] ========================================================================================== */
.sec_08 {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.sec_08 .contact_conbox {width: 50%; height: 280px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-sizing: border-box; box-sizing: border-box;}
.sec_08 .c_info {position: relative; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-right: 80px; background: url(../image/bg_contact.png) no-repeat center center; background-size: cover;}
.sec_08 .c_info::before {display: block; content: ''; width: 100%; height: 100%; background-color:#1c1c1c; position: absolute; left: 0; top: 0; opacity: 0.5;}
.sec_08 .c_info .left_con {padding-right: 120px; font-size: 4rem; font-weight: 700; line-height: 1.25em; color: #FFFFFF; z-index: 1; position: relative;}
.sec_08 .c_info .right_con { z-index: 1; position: relative;}
.sec_08 .c_info .right_con a {font-size: 3.6rem; font-weight: 700; line-height: 1.25em; color: #FFFFFF;}
.sec_08 .c_info .right_con p {margin-top: 14px; font-size: 2rem; font-weight: 400; line-height: 1.25em; color: #FFFFFF;}
.sec_08 .c_kakao {background-color: #327126; padding-left: 80px;}
.sec_08 .c_kakao .left_con {padding-right: 85px; margin-right: 190px; font-size: 4rem; font-weight: 700; line-height: 1.25em; color: #FFFFFF; background:url(../image/ic_talk.png) no-repeat right top; }
.sec_08 .c_kakao .right_con a {font-size: 2rem; font-weight: 400; display: block; height: 50px; line-height: 50px; color: #fff; padding-right: 65px; background:url(../image/ic_contact.svg) no-repeat right center;}

@media only screen and (max-width:1570px) {
	.sec_08 .c_info {padding-right:30px;}
	.sec_08 .c_info .left_con {padding-right:50px;}
	.sec_08 .c_kakao {padding-left:30px;}
	.sec_08 .c_kakao .left_con {margin-right:50px;}
}
@media only screen and (max-width:1280px) {
	.sec_08 .contact_conbox {width:100%; height:240px;}
	.sec_08 .c_info {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center; padding:0 28px;}
	.sec_08 .c_kakao {padding:0 28px;}
	.sec_08 .c_kakao {-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
	.sec_08 .c_kakao .left_con {margin-right:80px;}
}
@media only screen and (max-width:767px) {
	.sec_08 .c_info {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-align: baseline; -ms-flex-align: baseline; align-items: baseline;}
	.sec_08 .c_info .left_con {padding-right:0; margin-bottom:20px; font-size:30px;}
	.sec_08 .c_info .right_con a {font-size:26px;}
	.sec_08 .c_info .right_con p {font-size:16px; margin-top:5px;}
	.sec_08 .c_info .left_con strong br {display:none;}
	.sec_08 .c_kakao {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}
	.sec_08 .c_kakao .left_con {margin-right:auto; font-size:30px; background-size: 60px auto; padding-right:65px;}
	.sec_08 .c_kakao .right_con {margin-left:auto; margin-top:25px;}
}