@charset "utf-8";

/* ************************************************************************************************************************************************************
						《 서브 스타일 》
************************************************************************************************************************************************************ */
#sub_contents {padding-bottom: 140px; word-break:keep-all; overflow:hidden;}
.sub_inner {width: 100%; max-width:1570px; padding: 0 30px; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box;}
figure img {display: block; width: 100%; height: auto;}

/* -------------------- sub visual ---------------------------------------- */
.sub_visual_wrap{height: 603px;position: relative; overflow: hidden; background-repeat:no-repeat; background-position: center; background-size: auto 100%;}
.sub_visual_tit {padding-top: 280px;}
.sub_visual_tit .tit {font-size: 6rem; font-weight: 700; color: #fff; margin-bottom: 44px; line-height: 1.25em;}
.sub_visual_tit .desc {font-size: 2.8rem; font-weight: 400; color: #fff; line-height: 1.25em;}
.greeting .sub_visual_wrap,
.vision .sub_visual_wrap{background-image: url('../image/sub/sub_visual_01.png');}
.brand .sub_visual_wrap{background-image: url('../image/sub/sub_visual_02.png');}
.product .sub_visual_wrap{background-image: url('../image/sub/sub_visual_03.png');}
.detail .sub_visual_wrap{background-image: url('../image/sub/sub_visual_04.png');}


/* -------------------- sub menu ---------------------------------------- */
.sub_menu_wrap {border-bottom:1px solid #C1C1C1; position: relative; z-index: 1;}
.sub_menu_wrap .curt {display: none;}
.sub_menu {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.sub_menu li ~ li {margin-left: 75px;}
.sub_menu li a {display: block; padding: 24px 5px; color: #9E9E9E; font-weight: 700; font-size: 2rem; line-height: 1.250em; position: relative;}
.sub_menu li a::after {display: none; content:''; width: 100%; height: 2px; background-color: #319400; position: absolute; left: 0; bottom: -1px;}
.menu_mo {display: none;}
/* active */
.sub_menu li.on a {color: #319400;}
.sub_menu li.on a::after {display: block;}


/* -------------------- section title ---------------------------------------- */
.sub_sec_tit {margin-top: 125px;}
.sub_sec_tit .sub_tit {font-weight: 700; font-size: 2rem; color: #319400; text-align: center; margin-bottom: 11px; display: block;}
.sub_sec_tit .tit {font-size: 6rem; font-weight: 700; line-height: 1.250em; text-align: center;}

@media only screen and (max-width:1280px) {
	.sub_visual_wrap {height: 470px;}
	.sub_visual_tit {padding-top: 200px;}
	.sub_sec_tit {margin-top: 100px;}
	.sub_sec_tit .tit {font-size: 45px;}
}
@media only screen and (max-width:767px) {
	#sub_contents {padding-bottom: 100px;}
	.sub_visual_wrap {height: 340px;}
	.sub_visual_tit {padding-top:140px;}
	.sub_visual_tit .tit {font-size: 24px; margin-bottom: 20px; text-align: center;}
	.sub_visual_tit .desc {text-align: center; font-size: 16px;}
	.menu_mo {display: block;}
	.menu_pc {display: none;}
	.sub_menu_wrap .curt {display: block;}
	.sub_menu_wrap .curt a {display: block; padding:20px 30px; font-size: 16px; font-weight: 700; color: #319400; background:url(../image/sub/icon_select.svg) no-repeat right 30px center;}
	.sub_menu {display: none; position: absolute; left: 0; top: 59px; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; border:1px solid #C1C1C1; border-top:none;}
	.sub_menu li ~ li {margin-left: 0; border-top:1px solid #C1C1C1;}
	.sub_menu li a {padding: 19px 30px; font-size: 16px; font-weight: 400;}
	.sub_menu li.on a {background-color: #319400; color: #fff; font-weight: 700;}
	.sub_menu li a::after,.sub_menu li.on a::after {display: none;}

	.sub_sec_tit .sub_tit {font-size: 18px;}
	.sub_sec_tit .tit {font-size: 36px;}
}

/* ============================== [ CEO인사말 ] ========================================================================================== */
.ceo_greeting {margin-top: 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.ceo_greeting figure {width: 644px; height: 822px; overflow: hidden; border-radius:30px 60px 30px 10px;}
.ceo_greeting .txt_wrap {margin-top: 62px; padding-left: 100px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1;}
.ceo_greeting .gt_01 {font-size: 4.2rem; font-weight: 700; color: #319400; margin-bottom: 48px;}
.ceo_greeting .gt_02 {font-weight: 400; font-size: 2rem; line-height: 1.250em; color: #8E8E8E;}
.ceo_greeting .gt_02 ~ .gt_02 {margin-top: 20px;}
.ceo_greeting .greeting {margin-top: 128px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end;}
.ceo_greeting .greeting span {font-weight: 700; font-size: 2rem; line-height: 1.250em; color: #8E8E8E; margin-right: 38px;}
.ceo_greeting .greeting strong {background:url(../image/sub/greeting.png) no-repeat 0 0; width: 166px; height: 90px; background-size: 100% auto;}

@media only screen and (max-width:1280px) {
	.ceo_greeting {margin-top: 60px;}
	.ceo_greeting figure {width: 450px; height: 574px; border-radius: 15px 30px 15px 5px;}
	.ceo_greeting .txt_wrap {padding-left: 50px; margin-top: 40px;}
}
@media only screen and (max-width:1000px) {
	.ceo_greeting {display: block;}
	.ceo_greeting figure {margin: 0 auto; height: 384px; max-width: 301px; width:100%;}
	.ceo_greeting .txt_wrap {padding-left: 0;}
	.ceo_greeting .gt_01 {margin-bottom: 40px;}
	.ceo_greeting .greeting {margin-top: 60px;}
}
@media only screen and (max-width:767px) {
	.ceo_greeting figure {height:auto;}
	.ceo_greeting .gt_01 {font-size: 28px;}
	.ceo_greeting .gt_02 {font-size: 18px;}
	.ceo_greeting .greeting span {margin-right: 20px; font-size: 18px;}
	.ceo_greeting .greeting strong {width: 110px; height: 60px;}
}

/* ============================== [ 비전과 미션 ] ========================================================================================== */
.vision_img_01 {margin-top: 120px;}
.vision_img_01 span {display: block; background:url(../image/sub/vision_img_01_p.png) no-repeat 0 0; background-size:100% auto; max-width: 1157px; width: 100%; height: 425px; margin: 0 auto;}
.vision_bg {margin-top: 140px;}
.vision_bg .bg_01 {display: block; width: 60%; height: 615px; background:url(../image/sub/bg_visual_01.png) no-repeat center center; background-size: cover; overflow: hidden; border-radius:0 22px 22px 0;}
.vision_bg .bg_02 {display: block; width: 50%; height: 507px; background:url(../image/sub/bg_visual_02.png) no-repeat center center; background-size: cover; overflow: hidden; border-radius:22px 0 0 22px; margin-top: -407px; margin-left: auto; -webkit-box-sizing: border-box; box-sizing: border-box; border:6px solid #fff; border-right:none;}
.vision_tit {margin-top: 120px; font-size: 5.2rem; font-weight: 700; color: #3F3F3F; text-align: center;}
.vision_tit strong {color: #309000;}
.vision_img_02 {margin-top: 80px;}
.vision_img_02 span {display: block; background:url(../image/sub/vision_img_02_p.png) no-repeat 0 0; background-size:100% auto; max-width: 1206px; width: 100%; height: 727px; margin: 0 auto;}
.vision_list {display: none; max-width: 341px; width: 100%; margin: 32px auto 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.vision_list li {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.vision_list li ~ li {margin-top: 20px;}
.vision_list li i {display: block; margin-right: 12px; border-radius:50%; -webkit-box-shadow:0px 5px 15px 2px rgba(0, 0, 0, 0.2); box-shadow:0px 5px 15px 2px rgba(0, 0, 0, 0.2); width: 67px; height: 67px; background-position: left center; background-repeat: no-repeat; background-size: 67px;}
.vision_list li div {-webkit-box-flex:1;-ms-flex:1;flex:1;}
.vision_list li:nth-child(1) i {background-image: url(../image/sub/icon_vi_01.svg);}
.vision_list li:nth-child(2) i {background-image: url(../image/sub/icon_vi_02.svg);}
.vision_list li:nth-child(3) i {background-image: url(../image/sub/icon_vi_03.svg);}
.vision_list li strong {font-size: 14px; line-height: 18px; color: #36A845;}
.vision_list li p {font-size: 12px; font-weight: 400; margin-top: 5px;}

@media only screen and (max-width:1280px) {
	.vision_img_01 {margin-top: 60px;}
	.vision_img_01 span {background-image:url(../image/sub/vision_img_01_m.png); max-width: 260px; height: 687px;}
	.vision_img_02 span {background-image:url(../image/sub/vision_img_02_m.png); max-width: 250px; height: 272px;}
	.vision_bg {margin-top: 100px;}
	.vision_bg .bg_01 {height: 362px;}
	.vision_tit {margin-top: 100px; font-size: 30px;}
	.vision_img_02 {margin-top: 40px;}
	.vision_bg .bg_02 {height: 300px; margin-top: -120px;}
	.vision_list {display: -webkit-box;display: -ms-flexbox;display: flex;}
}
@media only screen and (max-width:767px) {
	.vision_bg .bg_01 {width: 90%;}
	.vision_bg .bg_02 {width: 71%; margin-top: -70px; border-width: 3px;}
}

/* ============================== [ 브랜드소개 ] ========================================================================================== */
.brand_tit {margin-top: 128px; font-size: 6rem; font-weight: 700; line-height: 1.25em;}
.brand_bg {width:100%; height:518px; margin-top:70px;}
.brand_bg span {display:block; width:100%; height:100%; background-image:url(../image/sub/bg_brand_01.png); background-position: center center; background-repeat: no-repeat; background-size: cover; background-attachment:fixed}

.b_info_01 {margin-top: 120px;}
.brand .info_tit {font-weight: 700; font-size: 4rem; line-height: 1.25em;}
.brand .info_tit strong {color: #319400;}
.brand .info_txt {margin-top: 30px; font-size: 2.4rem; line-height: 1.25em;}
.point_area {background-color: #68BC5E; padding: 60px 0; margin-top: 60px;}
.point_area ul {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.point_area li {padding: 127px 36px 36px; width: calc(33.33% - 18px); border-radius:22px; background-color: #fff; background-position:right 20px top 15px; background-repeat:no-repeat; background-size: 110px 110px; -webkit-box-shadow:0px 14px 16px 2px rgba(0, 0, 0, 0.16); box-shadow:0px 14px 16px 2px rgba(0, 0, 0, 0.16); -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: -webkit-transform .5s; transition: -webkit-transform .5s; -o-transition: transform .5s; transition: transform .5s; transition: transform .5s, -webkit-transform .5s; cursor:context-menu;}
.point_area li:hover {-webkit-transform: translateY(-23px);-ms-transform: translateY(-23px);transform: translateY(-23px);}
.point_area li:nth-child(1) {background-image: url(../image/sub/icon_brand_01.svg);}
.point_area li:nth-child(2) {background-image: url(../image/sub/icon_brand_02.svg);}
.point_area li:nth-child(3) {background-image: url(../image/sub/icon_brand_03.svg);}
.point_area li span {font-size: 2.4rem; font-weight: 700; line-height: 1.25em; color: #319400;}
.point_area li h4 {margin-top: 6px; font-size: 2.4rem; font-weight: 700; line-height: 1.25em;}
.point_area li p {margin-top: 13px; font-weight: 400; font-size: 2rem; line-height: 1.25em;}
.b_info_02 {margin-top: 120px; display: -webkit-box; display: -ms-flexbox; display: flex; position: relative;}
.b_info_02::after {display: block; content: ''; background:url(../image/sub/bg_brand_02.png) no-repeat 0 0; width: 506px; height: 1023px; position: absolute; left: -100px; top: 330px;;}
.b_info_02 .sub_btn {margin-top: 60px; width: 280px; height: 68px;}
.b_info_02 .sub_btn a {width: 100%; height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 3em; background-color:#319400; border:1px solid #E6F245; border-radius: 22px; font-size: 2.2rem; color: #fff; display: block; text-align: center;}
.b_info_02 ol {padding-left: 140px; -webkit-box-flex:1; -ms-flex:1; flex:1;}
.b_info_02 li {display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.b_info_02 li ~ li {margin-top: 80px; padding-top: 80px; border-top:1px solid #3A3A3A;}
.b_info_02 li .txt_area {-webkit-box-flex:1;-ms-flex:1;flex:1; padding-right: 6%;}
.b_info_02 li span {font-size: 2.4rem; font-weight: 700; color: #319400;}
.b_info_02 li h4 {font-size: 2.8rem; font-weight: 700; line-height: 1.250em;}
.b_info_02 li p {margin-top: 20px; font-size: 2.4rem; font-weight: 400;}
.b_info_02 li p ~ p {margin-top: 10px;}
.b_info_02 li figure {width: 50%; border-radius: 22px; overflow: hidden;}
.b_info_02 li:nth-child(3) {display: block;}
.b_info_02 li .img_area {margin-top: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.b_info_02 li .img_area div {width: calc(50% - 7px);}
.b_info_02 li .img_area figure {width: 100%;}
.b_info_02 li .img_area strong {display: block; width: 100%; background-color: #6BBF42; border-radius:0 0 22px 22px; padding: 19px 10px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #fff; font-size: 2.4rem; font-weight: 700; text-align: center; margin-top: -22px; position: relative; z-index: 1;}

@media only screen and (max-width:1280px) {
	.brand_tit {margin-top: 100px; font-size: 48px;}
	.brand_bg {height: 380px; margin-top: 40px;}
	.b_info_01 {margin-top: 100px;}
	.brand .info_txt {margin-top: 20px;}
	.point_area {margin-top: 40px;}
	.point_area li {padding: 120px 20px 20px; background-size: 90px 90px;}

	.b_info_02 {margin-top: 100px; display: block;}
	.b_info_02::after {display: none;}
	.b_info_02 .sub_btn {margin-top: 20px;}
	.b_info_02 .sub_btn a {line-height: 3.4em;}
	.b_info_02 ol {padding-left: 0; margin-top: 60px;}
	.b_info_02 li ~ li {margin-top: 60px; padding-top: 60px;}
	.b_info_02 li .txt_area {padding-right: 3%;}
}
@media only screen and (max-width:767px) {
	.brand_tit {font-size: 36px;}
	.brand_bg {height: 220px;}
	.brand .info_tit {font-size: 30px;}
	.brand .info_txt {font-size: 20px;}
	.point_area ul {display: block;}
	.point_area ul li {width: 100%; padding-top: 140px;}
	.point_area ul li ~ li {margin-top: 20px;}
	.point_area li:hover {-webkit-transform: none;-ms-transform: none;transform: none;}
	.point_area li p {margin-top: 10px;}
	.b_info_02 .sub_btn {width: 160px; height: 42px;}
	.b_info_02 .sub_btn a {background-color: #fff; border: 1px solid #707070; border-radius: 22px; font-size: 18px; line-height: 42px; font-weight: 500; color: #1C1C1C;}
	.b_info_02 li {display: block;}
	.b_info_02 li .txt_area {padding: 0;}
	.b_info_02 li h4 {font-size: 22px;}
	.b_info_02 li p {font-size: 18px;}
	.b_info_02 li figure {width: 100%; margin-top: 40px;}
	.b_info_02 li .img_area {display: block; margin-top: 20px;}
	.b_info_02 li .img_area div {width: 100%; margin-top: 20px;}
	.b_info_02 li .img_area strong {padding: 10px; font-size: 16px;}
}

/* ============================== [ 제품 소개 ] ========================================================================================== */
.prd_li {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 122px;}
.prd_li li {width:calc(50% - 20px);}
.prd_li li:nth-child(n+3) {margin-top: 80px;}
.prd_li li figure {width: 100%; overflow: hidden; border-radius:22px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative;}
.prd_li li figure::after {display: block; content: ''; width: 100%; height: 100%; border-radius:22px; border:10px solid #319400; opacity: 0; -webkit-transition: .5s; -o-transition: .5s; transition: .5s; z-index: 1; position: absolute; left: 0; top: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}
.prd_li li figure img {-webkit-transition:-webkit-transform .5s;transition:-webkit-transform .5s;-o-transition:transform .5s;transition:transform .5s;transition:transform .5s, -webkit-transform .5s;}
.prd_li li:hover figure img {-webkit-transform: scale(1.05);-ms-transform: scale(1.05);transform: scale(1.05);}
.prd_li li:hover figure::after {opacity: 1;}
.prd_li li strong {padding-left: 24px; margin-top: 27px; font-size: 2.1rem; font-weight: 700; display: block; line-height: 1.381em;}
.prd_li li p {padding-left: 24px; margin-top: 14px; font-size: 1.8rem; color: #9F9F9F; letter-spacing: -0.03em;}

@media only screen and (max-width:1280px) {
	.prd_li {margin-top: 60px;}
	.prd_li li {width: calc(50% - 10px);}
	.prd_li li:nth-child(n+3) {margin-top: 40px;}
	.prd_li li figure::after {border-width: 6px;}
	.prd_li li strong {margin-top: 20px; padding-left: 12px;}
	.prd_li li p {padding-left: 12px;}
}
@media only screen and (max-width:767px) {
	.prd_li {display: block;}
	.prd_li li {width: 100%;}
	.prd_li li ~ li {margin-top: 40px;}
	.prd_li li strong {font-size: 18px;}
	.prd_li li p {font-size: 16px;}
}
@media only screen and (max-width:500px)  {
	.prd_li li figure {min-height: 300px; position: relative; max-width: 547px;}
	.prd_li li figure img {width: auto; height: 100%; position: absolute; left: -40%; top: 0; ;}
}

/* ============================== [ 상품상세 ] ========================================================================================== */
.detail_wrap {margin-top: 140px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.detail_wrap .img_area {width: 48.4%;}
.detail_wrap .img_area .thum figure {width: 100%; height: 808px; border-radius: 22px; overflow: hidden; position: relative;}
.detail_wrap .img_area .thum figure img {width: auto; height: 100%; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.detail_wrap .img_area .list {margin-top: 45px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.detail_wrap .img_area a {margin-left: 20px;}
.detail_wrap .img_area a:last-child {margin-right: 20px;}
.detail_wrap .img_area a figure {border-radius: 12px; overflow: hidden; width: 100%;}
.detail_wrap .txt_area {-webkit-box-flex:1;-ms-flex:1;flex:1; padding-left: 4%;}
.detail_wrap .tit_wrap strong{font-size: 2rem; font-weight: 700; line-height: 1.25em; color: #319400;}
.detail_wrap .tit_wrap h3 {font-size: 4rem; font-weight: 700; line-height: 1.150em; margin-top: 14px;}
.detail_wrap .info_li {margin-top: 57px;}
.detail_wrap .info_li > li ~ li {margin-top: 40px;}
.detail_wrap .info_li > li h4 {margin-bottom: 13px; font-size: 2rem; font-weight: 700; line-height: 1.2em; padding-top: 8px; position: relative;}
.detail_wrap .info_li > li h4::after {display: block; content: ''; width: 19px; height: 2px; background-color: #319400; position: absolute; left: 0; top: 0;}
.detail_wrap .info_li > li p {font-size: 1.8rem; font-weight: 400; line-height:1.611em;}
.detail_wrap .tip li {padding-left: 33px; background:url(../image/sub/icon_chk.svg) no-repeat left top;}
.detail_wrap .tip li ~ li {margin-top: 12px;}
.detail_wrap .diff {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.detail_wrap .diff li {width: calc(50% - 5px); height: 110px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 110px; background-position: left center; background-repeat: no-repeat; background-size:110px 110px; -webkit-box-sizing: border-box; box-sizing: border-box;}
.detail_wrap .diff li:nth-child(1) {background-image: url(../image/sub/icon_detail_01.svg);}
.detail_wrap .diff li:nth-child(2) {background-image: url(../image/sub/icon_detail_02.svg);}
.detail_wrap .diff li:nth-child(3) {background-image: url(../image/sub/icon_detail_03.svg); margin-top: 30px;}
.detail_wrap .diff li:nth-child(4) {background-image: url(../image/sub/icon_detail_04.svg); margin-top: 30px;}
.detail_wrap .diff li p {font-size: 2rem; font-weight: 500; line-height: 1.2em; color: #707070; padding-left: 20px;}
.btn_store {margin-top: 60px; background-color: #00C73C; border-radius: 22px; text-align: center; padding: 25px 10px; -webkit-box-sizing: border-box; box-sizing: border-box;}
.btn_store span {padding-left: 60px; background:url(../image/sub/icon_naver.svg) no-repeat left center; background-size:31px; font-size: 22px; font-weight: 700; color: #fff; display: inline-block; height: 31px; line-height:31px;}
.goods_li {margin-top: 120px; padding-top: 65px; border-top: 1px solid #3E9B11;}
.goods_li h4 {font-size: 2.8rem; margin-bottom: 18px; font-weight: 700; color: #343434;}
.goods_li ul {display: -webkit-box;display: -ms-flexbox;display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: -20px;}
.goods_li ul li {width: 200px; margin-top: 20px;}
.goods_li ul li:not(:last-child) {margin-right: 25px;}
.goods_li ul li figure {width: 100%; border-radius: 12px; overflow: hidden;}
.goods_li ul li p {margin-top: 22px; font-size: 2rem; font-weight: 400;}

@media only screen and (max-width:1280px) {
	.detail_wrap {margin-top: 100px; display: block;}
	.detail_wrap .img_area .thum figure {max-width: 600px; height: 600px; margin: 0 auto;}
	.detail_wrap .img_area {width: 100%;}
	.detail_wrap .img_area .list {margin-top: 45px;}
	.detail_wrap .img_area a {width: 130px; margin-left: 10px;}
	.detail_wrap .img_area a:last-child {margin-right: 10px;}

	.detail_wrap .txt_area {padding-left: 0; margin-top: 60px;}
	.detail_wrap .info_li {margin-top: 40px;}
	.detail_wrap .tip li {padding-left: 27px; background-size: 21px auto;}
	.detail_wrap .tip li ~ li {margin-top: 10px;}
	.goods_li {margin-top: 100px; padding-top: 40px;}
	.goods_li ul li p {margin-top: 10px;}
	.goods_li ul li:not(:last-child) {margin-right: 12px;}

}
@media only screen and (max-width:767px) {
	.detail_wrap .tit_wrap strong {font-size: 18px;}
	.detail_wrap .tit_wrap h3 {font-size: 30px;}
	.detail_wrap .info_li > li h4 {font-size: 18px;}
	.detail_wrap .info_li > li p {font-size: 16px;}
	.detail_wrap .diff {margin-top: 20px;}
	.detail_wrap .diff li {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; padding: 100px 0 0 0; height: auto; background-size:90px 90px; background-position: top center; text-align: center;}
	.detail_wrap .diff li p {padding-left: 0;}
	.btn_store {border-radius:8px; padding: 8px;}
	.btn_store span {padding-left: 0; background: none; font-size: 16px;}
	.detail_wrap .img_area .thum figure {max-width: 300px; height: 340px;}
	.detail_wrap .img_area .list {margin-top: 20px;}
	.detail_wrap .img_area a {width: 72px; margin-left: 4px;}
	.detail_wrap .img_area a:last-child {margin-right: 4px;}
	.detail_wrap .img_area a figure {border-radius: 8px;}
	.goods_li ul li {width: 130px;}
	.goods_li ul li p {font-size: 14px;}
}